<div class="row">
  <div class="col s12 m4 l3">
    <div class="card">
        <div class="card-image">
          <img src="http://www.lawyersweekly.com.au/images/LW_Media_Library/594partner-profile-pic-An.jpg">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <span><%= @other.fullname %></span>
        </div>
        <div class="card-action">
          <%= link_to "Más información", @other, class: "btn btn-default wide" %>
        </div>
      </div>
  </div>

  <div class="col s12 m8 l9">
    <ul class="collection">
      <li class="collection-item">
        <%= form_for [@conversation, @conversation.messages.new], remote: true do |f| %>
        <%= f.text_area :content, class: "form-control" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Enviar", class: "btn btn-primary" %>
        <% end %>
      </li>
      <br>
      </ul>
      <ul class="collection">
      <li class="collection-item">
      <div id="chat">
        <%= render @messages, locals: {conversation: @conversation} %>
      </div>
      </li>
    </ul>
  </div>


</div>

<%= subscribe_to conversation_messages_path(@conversation) %>
