<div class="row">
<div class="col m6 offset-m3 center">
    <h2>Iniciar Sesión</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-field">
        <%= f.text_field :email, :class => "validate", :placeholder => "Correo electrónico" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, :id => "email", :class => "validate", :placeholder => "Contraseña", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="input-field">
          <%= f.check_box :remember_me %>
          <%= f.label :Recordar %>
        </div>
      <% end -%>

      <br/>

      <button class="waves-effect waves-light" type="submit" name="action">Entrar</button>
    <% end %>

  </div>
</div>
