<% if @reviews.count == 0 %>
  <div class="text-center"><label>Todavía no hay ninguna valoración</label></div>
<% else %>

  <% @reviews.order("id desc").each do |r| %>
    <hr>

    <div class="row">
      <div class="col s3">
        <div>
          <strong><%= r.user.fullname %></strong> <%= r.created_at.strftime("%v") %><div id="stars_<%= r.id %>"></div> 
        </div>
        <div>
          <%= r.comment %><br>
          <%= link_to "Borrar valoración", [@room, r], method: :delete, data: {confirm: "¿Seguro?"} if current_user && current_user == r.user %>
        </div>
      </div>
    </div>

    <script>
      $('#stars_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.star %>
      });
    </script>

  <% end %>

<% end %>
