<% if @reviews.count == 0 %>
  <div class="text-center"><label>Todavía no hay ninguna valoración</label></div>
<% else %>

  <% @reviews.order("id desc").each do |r| %>
    <hr>

    <div class="row">
      <div class="col s3">
        <div>
          <strong><%= r.user.fullname %> <%= r.star %> </strong>
          <span class="pull-right">
            <%= link_to "Borrar valoración", [@room, r], method: :delete, data: {confirm: "¿Seguro?"} if current_user && current_user == r.user %>
          </span>
        </div>
        <div>
          <%= r.comment %><br>
          <%= r.created_at.strftime("%v") %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
